{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
      <div class="medium-6 columns">
        <h4>Question 1</h4>
      </div>
      <div class="medium-6 large-5 columns">
        <p>The original Landon perseveres after 50 years in the heart of West London. The West End neighborhood has something for everyone—from theater to dining to historic sights.</p>
        <p>{{ data }}</p>
      </div>
    </div>

{% endblock %}
